<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/addbookStyles.css') }}">
    <link rel="icon" type="logo/icon" href="static/images/favicon.ico">
    <title>Add Book | LibroCo.</title>

    <style>
        .error-message {
            margin-top: 5px;
            text-align: left;
            color: #8e0101;
            font-size: 14px;
            display: none;
        }

        .error-icon {
            margin-right: 5px;
            display: inline;
            width: 16px;
            height: 16px;
        }
    </style>
</head>

<body>
    <nav>
        <a class="navbar-brand" href="books.html">
            <img class="logo" src="static/images/logo.png" width="250" height="50" />
        </a>

        <div class="separator"></div>

        <div class="navbar-links">
            <a href="{{ url_for('books') }}" class="active">Books</a>
            <a href="{{ url_for('requests') }}">Requests</a>
            <a href="{{ url_for('readers') }}">Readers</a>
        </div>

        <div class="navbar-right">
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('login') }}">Log Out</a>
        </div>
    </nav>
    <div class="divider"></div> <!-- Line divider -->

    <div class="addbook_container">
        <!-- This div is used to display the image -->
        <div class="book_image">
            <div class="overlay_wrapper">
                <label for="image_upload">
                    <div class="image_overlay">
                        <img src="static/images/upload_photo.png" class="upload" />
                    </div>
                    <img id="image" src="static/images/blank_image.png">
                </label>
            </div>
        </div>

        
    
        <!-- This is your form where book details are entered -->
		
        <form class="addbook_form" method="POST" action="/savebook" enctype="multipart/form-data" novalidate>
			<div class="textForm_container">
				<label for="book_title">Book Title</label>
				<input type="text" id="book_title" name="book_title">
		
				<div class="side_by_side">
					<div>
						<label for="author">Author</label>
						<input type="text" id="author" name="author">
					</div>
					<div>
						<label for="publication_year">Publication Year</label>
						<input type="text" id="publication_year" name="publication_year">
					</div>
				</div>
		
				<label for="genre">Genre</label>
				<select id="genre" name="genre">
					<option value=""></option>
					<option value="fiction">Fiction</option>
					<option value="non-fiction">Non-fiction</option>
					<option value="romance">Romance</option>
					<option value="science-fantasy">Science/Fantasy</option>
					<option value="horror-thriller">Horror/Thriller</option>
				</select>
		
				<label for="description">Description</label>
				<textarea id="description" name="description" rows="4"></textarea>
		
				<!-- The file input is now inside the form -->
				<input type="file" name="image_upload" id="image_upload" style="display:none;" onchange="readURL(this)">

                {% if error_message %}
                <div class="error-message" id="errorMessage" style="display: block;">
                    <img src="{{ url_for('static', filename='images/error_icon.png') }}" alt="Error icon" class="error-icon">
                    <span id="errorText" class="error-text">{{ error_message }}</span>
                </div>
                {% endif %}
                
				<div class="addbook_button_group">
					<a href="{{ url_for('books') }}">
						<button type="button" class="back_button">Back</button>
					</a>
					<button type="submit" class="save_button">Save</button>
				</div>
			</div>
            
        </form>
    </div>
    
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // Display the selected image
                    document.getElementById('image').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    
</body>

</html>
