@font-face {
    font-family: 'Istok Web';
    src: url('/static/fonts/IstokWeb-Regular.ttf') format('truetype');
}
.divider {
    width: auto;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

.readers_container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.readers_list {
    list-style-type: none;
    margin-top: 0.625rem;
    line-height: 1.7;
    font-size: 18px;
    word-break: break-all;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    display:block;
    margin:0;
    padding:0;
}

.readers_list::-webkit-scrollbar {
    display: none;
}

.readers_list li:nth-child(1) {
    background-color: #FFEDBD;
    border-radius: 0.3rem;
    font-weight: bold;
}

.main_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.profile_editcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

.profile_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding-right: 20px;
    margin-left: 20px;
}

.profile_form label {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
    width: 100%;
    font-weight: bold;
}

.profile_form input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button_group {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;
}

.cancel_button,
.save_button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel_button {
    background-color: transparent;
    color: #066A69;
    font-weight: normal;
}

.save_button {
    background-color: #f5c400;
    color: #111010;
    font-weight: normal;
}

.save_button:hover {
    background-color: #e9aa17;
}

.overlay_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.upload {
    width: 3rem !important;
    height: 3rem !important;
    object-fit: contain;
    display: block;
}

.image_overlay::before {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .profile_editcontainer {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 20px;
    }

    .profile_image_container {
        width: 40%;
        max-width: 8rem;
    }

    .profile_form {
        margin-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .button_group {
        justify-content: flex-end;
        margin-top: 2rem;
    }

    .cancel_button,
    .save_button {
        margin-left: 1rem;
        padding: 0.8rem 2rem;
    }
}

@media (max-width: 480px) {
    .profile_image_container {
        width: 60%;
        max-width: 6rem;
    }

    .profile_form label,
    .profile_form input {
        font-size: 0.9rem;
    }

    .upload {
        width: 1rem !important;
        height: 1rem !important;
    }
}

.navbar-right {
    display: flex;
    margin-left: auto;
    gap: 20px;
    margin-top: 8px;
    margin-right: 8px;
}